<h1>Articles Listing Page</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @article.each do |art| %>
        <tr>
            <td><%= art.title%></td>
            <td><%= art.description%></td>
            <td><%= link_to 'Show', articles_path(art)%></td>
            <td><%= link_to 'Edit', articles_path(art)%></td>
            <td><%= link_to 'Delete', articles_path(art), method: :delete%></td>
        </tr>
        <% end%>
    </tbody>
</table>